<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>登录 - 身份中台</title>
    <!-- CSS files -->
    <link th:href="@{/css/tabler.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler-flags.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler-payments.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/tabler-vendors.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/demo.min.css}" rel="stylesheet"/>
</head>
<body class="antialiased border-top-wide border-primary d-flex flex-column">
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img th:src="@{/img/logo.png}" height="80" alt=""></a>
        </div>
        <form name="loginForm" class="card card-md" th:action="${loginUrl}" method="post" autocomplete="off">
            <div class="card-body">
                <h2 class="card-title text-center mb-4"></h2>
                <div class="mb-3">
                    <label class="form-label">账号或邮箱</label>
                        <input type="text" name="username" class="form-control" placeholder="账号或邮箱" />
                </div>
                <div class="mb-2">
                    <label class="form-label">密码</label>
                    <div class="input-group input-group-flat">
                            <input type="password" name="password" class="form-control" placeholder="请输入登录密码" autocomplete="off"/>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input"/>
                        <span class="form-check-label">记住登录</span>
                        <span class="form-label-description">
                          <a href="./forgot-password.html">忘记密码</a>
                        </span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">登 录</button>
                </div>
            </div>
            <div class="hr-text">或</div>
            <div class="card-body">
                <p style="color: red" th:if="${param.error}" th:text="${error}">
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            还没有账号? <a href="./sign-up.html" tabindex="-1">立即注册</a>
        </div>
    </div>
</div>
<script th:src="@{/js/tabler.min.js}"></script>
</body>
</html>