<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragment/shared.html :: yufuHead('登录')"></header>
<body class="antialiased border-top-wide border-primary d-flex flex-column">
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img th:src="@{/img/logo.png}" height="80" alt=""/></a>
        </div>
        <form name="loginForm" class="card card-md" th:action="${loginUrl}" method="post" autocomplete="off">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">登录</h2>
                <div class="mb-3">
                    <label class="form-label">账号或邮箱</label>
                        <input type="text" name="username" class="form-control" placeholder="账号或邮箱" />
                </div>
                <div class="mb-2">
                    <label class="form-label">密码</label>
                    <div class="input-group input-group-flat">
                            <input type="password" name="password" class="form-control" placeholder="请输入登录密码" autocomplete="off"/>
                    </div>
                </div>
                <div class="mb-2">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input"/>
                        <span class="form-check-label">记住登录</span>
                        <span class="form-label-description">
                          <a href=".">忘记密码</a>
                        </span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">登 录</button>
                </div>
            </div>
            <div class="hr-text">或</div>
            <div class="card-body">
                <p style="color: red" th:if="${param.error}" th:text="${error}">
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            还没有账号? <a href="/oauth2/register" tabindex="-1">立即注册</a>
        </div>
    </div>
</div>
<footer th:replace="fragment/shared.html :: #yufuFooter"></footer>
<script th:src="@{/js/tabler.min.js}"></script>
</body>
</html>