<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header th:replace="fragment/shared.html :: yufuHead('注册')"></header>
<body class="antialiased border-top-wide border-primary d-flex flex-column">
<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a href="."><img th:src="@{/img/logo.png}" height="80" alt=""></a>
        </div>
        <form class="card card-md" th:action="@{/oauth2/register}" th:method="post">
            <div class="card-body">
                <h2 class="card-title text-center mb-4">账号注册</h2>
                <div class="mb-3">
                    <label class="form-label">用户名</label>
                    <input type="text" name="userName" class="form-control" placeholder="Enter name">
                </div>
                <div class="mb-3">
                    <label class="form-label">邮箱</label>
                    <input type="email" name="email" class="form-control" placeholder="Enter email">
                </div>
                <div class="mb-3">
                    <label class="form-label">密码</label>
                    <div class="input-group input-group-flat">
                        <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="off">
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-check">
                        <input type="checkbox" class="form-check-input">
                        <span class="form-check-label">同意 <a href="./terms-of-service.html" tabindex="-1">注册协议</a>.</span>
                    </label>
                </div>
                <div class="form-footer">
                    <button type="submit" class="btn btn-primary w-100">创建</button>
                </div>
            </div>
        </form>
        <div class="text-center text-muted mt-3">
            已有账号? <a href="/oauth2/login" tabindex="-1">去登录</a>
        </div>
    </div>
</div>
<footer th:replace="fragment/shared.html :: #yufuFooter"></footer>
<script th:src="@{/js/tabler.min.js}"></script>
</body>
</html>